<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>748158137803-t88vru3v44larhj10jk00oc3quir27js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748158137803-t88vru3v44larhj10jk00oc3quir27js</string>
	<key>API_KEY</key>
	<string>AIzaSyDU_0hsQbshQXk7yGoI6_8aIvlsDI6L8zA</string>
	<key>GCM_SENDER_ID</key>
	<string>748158137803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evgenyvlasov.pokesearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-db79b</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-db79b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:748158137803:ios:c6e8147fbe762ea5</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-db79b.firebaseio.com</string>
</dict>
</plist>